.navbar{
  padding-left: 16px;
}
.navbar-brand {
  background-color: transparent;
  height: 48px;
  width: 48px;
  padding-bottom: 4px;
  padding-top: 4px;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.dashboard {
  padding-right: 4px;
  text-align: center;
  vertical-align: middle;
}

.menu, .dots, .chat {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
}

.image {
  height: 28px;
  width: 28px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
}

.dashboard {
  background-color: transparent;
  border-radius: 999px;
}

.form-inline {
  width: 100%;
  color: #D3D3D3;
}

.search {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.navbar-brand:hover, .dashboard:hover, .searchResultsDiv:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.form-inline .searchResults {
  display: block;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  color: #000;
  font-size: 14px;
  left: 68px;
  right: 31%;
  padding: 6px;
  position: absolute;
  top: 100%;
  z-index: 99999;
  margin: 0;
  list-style: none;
  line-height: 21px;
  border-radius: 8px;
}

.searchResultsDiv {
  background-color: transparent;
}

.searchResultsDiv div {
  margin: 10px;
}

.form-inline {
  margin: 8px;
}

@media (max-width: 992px) {

  .navbar-nav {
    max-width: 200px;
    margin: 0 auto;
    display: -webkit-box;
  }

  .navbar-nav li {
    text-align: center;
  }

  .searchResults {
    left: 20%;
    right: 20%;
    padding: 6px;
    top: 100%;
    margin: 8px;
  }
}

@media (max-width: 660px) {

  .searchResults {
    top: 150%;
  }
}
