<div id="DIV_1">
  <!-- react-empty: 7 -->

  <div id="DIV_2">
    <div id="DIV_3">
      <div id="DIV_4">
        <!-- react-empty: 1960 -->

        <!-- react-empty: 1876 -->

      </div>
      <div id="DIV_5">
        <div id="DIV_6">
          <div id="DIV_7">
            <div id="DIV_8" routerLink="/dashboard">
              <div id="DIV_9">
                <a href="/" id="A_10"></a>
                <div id="DIV_11">
                  <div class="logo" id="DIV_12">
                    <svg id="svg_13">
                      <title id="title_14">
                      </title>
                      <path id="path_15">
                      </path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div id="DIV_16">
              <div id="DIV_17">
                <div id="DIV_18">
                  <div id="DIV_19">
                    <div id="DIV_20">
                      <div id="DIV_21">
                        <div id="DIV_22">
                          <svg id="svg_23">
                            <title id="title_24">
                            </title>
                            <path id="path_25">
                            </path>
                          </svg>
                        </div>
                        <div id="DIV_26">
                          <input type="text" name="q" placeholder="Search" id="INPUT_27"/>
                          <div id="DIV_28">
                            When autocomplete results are available use up and down arrows to review and enter to
                            select. Touch device users, explore by touch or with swipe gestures.
                          </div>
                        </div>
                        <!-- react-text: 1901 -->

                        <!-- /react-text -->

                      </div>
                      <div id="DIV_29">
                        <div id="DIV_30">
                          <div id="DIV_31">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="home" id="DIV_32">
              <div id="DIV_33">
                <div id="DIV_34">
                  <div id="DIV_35">
                    <a href="/" id="A_36"></a>
                    <div id="DIV_37">
                      <div id="DIV_38">
                        <div id="DIV_39">
                          <div id="DIV_40" routerLink="/dashboard">
                            Home
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="DIV_41" class="user">
              <div id="DIV_42">
                <div id="DIV_43">
                  <a href="/miroslavmmaksim/" id="A_44"></a>
                  <div id="DIV_45">
                    <div id="DIV_46">
                      <div id="DIV_47">
                        <div id="DIV_48">
                          <div id="DIV_49">
                            <div id="DIV_50">
                              <img alt="Innovic"
                                   src="https://vignette.wikia.nocookie.net/logopedia/images/b/b5/Time_Warner_1990.svg/revision/latest?cb=20100509174518"
                                   id="IMG_51"/>
                            </div>
                            <div id="DIV_52">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="DIV_53">
                        <div id="DIV_54">
                          UserName
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- react-empty: 1925 -->

            <div id="DIV_55" routerLink="/add" class="add">
              <div id="DIV_56">
                <div id="DIV_57">
                  <div id="DIV_58">
                    <div id="DIV_60">
                      <div id="DIV_61">
                        <svg id="svg_62">
                          <title id="title_63">
                          </title>
                          <path id="path_64">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="DIV_65" class="menu">
              <div id="DIV_66">
                <div id="DIV_67">
                  <div id="DIV_68">
                    <div id="DIV_70">
                      <div id="DIV_71">
                        <div id="DIV_72">
                          <svg id="svg_73">
                            <title id="title_74">
                            </title>
                            <path id="path_75">
                            </path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- react-empty: 1947 -->

            </div>
            <div id="DIV_76" routerLink="/about" class="about">
              <div id="DIV_77">
                <div id="DIV_78">
                  <div id="DIV_79">
                    <div id="DIV_81">
                      <div id="DIV_82">
                        <svg id="svg_83">
                          <title id="title_84">
                          </title>
                          <path id="path_85">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <small>IP: {{ipData.toString()}}</small>


          </div>
        </div>
      </div>
      <div id="DIV_86">
      </div>
      <hr id="HR_87"/>
    </div>
  </div>
  <div id="DIV_88">
  </div>
</div>


