.imgWrapper, .menuWrapper, .aboutWrapper, .chatWrapper {
  float: left;
  background-color: transparent;
  height: 48px;
  width: 48px;
  margin: 8px;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.nav-item {
  margin: 8px;
}

.image, .menu, .about, .chat {
  height: 28px;
  width: 28px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
}

.dashboard {
  background-color: transparent;
  border-radius: 999px;
}

.form-inline {
  width: 100%;
  color: #555;
}

.search {
  width: 100%;
}

.imgWrapper:hover, .menuWrapper:hover, .aboutWrapper:hover, .chatWrapper:hover, .dashboard:hover, .searchRessultsDiv:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.searchResults {
  position: absolute;
  left: 200px;
  top: 80px;
  width: 400px;
  height: 200px;
  background: white;
  overflow: scroll;
  z-index: 100;
}

.searchRessultsDiv {
  background-color: transparent;
  border-radius: 999px;
}
