
.image {
  float: left;
  height: 28px;
  width: 28px;
  margin: 20px;
}

.imageMenu, .aboutImage {
  float: right;
  height: 28px;
  width: 28px;
  margin: 20px;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #a39a9a;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topnav input {
  float: left;
  background-color: #f4eded;
  width: 60%;
  height: 15px;
  padding: 20px 20px;
  margin: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topnav a:hover {

  background-color: #e3dcdc;
  color: white;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}

.topnav img:hover {

  background-color: #e3dcdc;
  color: white;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
