.card {
  background-color: black;
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;

}

.card:hover .cardOptions, .text {
  opacity: 1.0;
}

.card:hover .text {
  opacity: 1.0;
}

.card small {
  float: left;
  margin: 4px;
}

.optionsImage {
  opacity: 0.5;
}

.optionsImage:hover {
  opacity: 1.0;
}

.card .optionsImage {
  float: right;
  height: 24px;
  width: 24px;
}

.cardOptions, .text {
  opacity: 0.0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

