
.card {
  top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.dashboardWrapper {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) {
  .dashboardWrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 700px) {
  .masonry {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .masonry {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .dashboardWrapper {
    width: 60%;
    margin: 0 auto;
  }
}
