<div *ngIf="notification$ | async">
  <div class="wrapper">
    <div class="card text-white border-info bg-dark mb-3">
      <app-card-options></app-card-options>
      <div class="card-block">
        <h4 class="card-header">{{(notification$ | async)?.result.title}}</h4>
        <div class="card-body text-info">
          <p class="card-text">{{(notification$ | async)?.result.text}}</p>
          <a class="text-white"> {{(notification$ | async)?.result.url}}</a>
        </div>
        <div class=" card-footer bg-transparent ">
          <p class="card-text">
            <small class="text-light">{{(notification$ | async)?.result.author}}</small>
            <small class="text-muted">{{(notification$ | async)?.result.published | appTimeAgo}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
