.wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 30px 0;
}

#form {
  text-align: left;
}

#buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
