<div class="dashboardWrapper container">

  <form class="form-horizontal" #notificationForm="ngForm"
        (submit)="submitForm(notificationForm)">
    <div class="card text-white border-info bg-dark mb-3">
      <fieldset>
        <legend>Create Notification</legend>

        <div id="form">
          <div class="form-group">
            <div class="col-md-7">
              <label class="col-md-7 control-label text-info" for="authorInput">Author</label>
              <input id="authorInput" autocomplete="off" ngModel name="author" type="text" placeholder="Your name"
                     class="form-control input-md" required minlength="5"
                     [invalidTooltip]="{required: 'Your name is required'}">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-7">
              <label class="col-md-7 control-label text-info" for="titleInput">Title</label>
              <input id="titleInput" ngModel autocomplete="off" name="title" type="text" placeholder="Your title"
                     class="form-control input-md" required minlength="5"
                     [invalidTooltip]="{required: 'Title is required'}">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-8">
              <label class="col-md-8 control-label text-info" for="urlInput">Url</label>
              <input id="urlInput" pattern="https?://.+" autocomplete="off" ngModel name="url" type="url"
                     placeholder="Your url"
                     class=" urlExclude form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <label class="col-md-7 control-label text-info" for="textInput">Text</label>
              <textarea class="form-control" ngModel id="textInput" name="text" placeholder="Your text" required
                        [invalidTooltip]="{required: 'Text is required'}">
                </textarea>
            </div>
          </div>
        </div>

        <div id="buttonsDiv" class="form-group">
          <button id="createButton" type="submit" name="createButton" class="btn btn-light"
                  [disabled]="!notificationForm.form.valid">Done
          </button>
        </div>
      </fieldset>
    </div>

  </form>
</div>
