.Share {
  float: left;
  height: 28px;
  width: 28px;
  margin: 8px;
  opacity: 0.8;
}

.Save {
  float: right;
  height: 28px;
  width: 28px;
  margin: 8px;
  opacity: 0.8;
}

.Share:hover {
  opacity: 1.0;
}

.Save:hover {
  opacity: 1.0;
}

:host {
  position: relative
}
