<div id="wrapper" class="container">
<form class="form-horizontal">
  <div class="card text-white border-info bg-dark mb-3">
  <fieldset>

    <!-- Form Name -->
    <legend>Create Notification</legend>
<div id="form">
    <!-- Text input-->
    <div class="form-group">
      <div class="col-md-7">
        <label  class="col-md-7 control-label text-info" for="authorInput">Author</label>
        <input id="authorInput" name="authorInput" type="text" placeholder="Your name" class="form-control input-md" required>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <div class="col-md-7">
        <label  class="col-md-7 control-label text-info" for="titleInput">Title</label>
        <input id="titleInput" name="titleInput" type="text" placeholder="Your title" class="form-control input-md" required>

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <div class="col-md-10">
        <label class="col-md-7 control-label text-info" for="textInput">Text</label>
        <textarea class="form-control" id="textInput" name="textInput" placeholder="Your text" required></textarea>
      </div>
    </div>
</div>
    <!-- Button (Double) -->
    <div id="buttonsDiv"  class="form-group">
      <label class="col-md-5 control-label" for="cancelButton"></label>
      <div class="col-md-8">
        <button id="cancelButton" name="cancelButton" class="btn btn-secondary">Cancel</button>
        <button id="createButton" name="createButton" class="btn btn-light">Create</button>
      </div>
    </div>

  </fieldset>
  </div>
</form>
</div>
